/* CARROSSEL */
.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: 20px auto;
    border-radius: 12px;
}

.carousel {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carousel img {
    width: 100%;
    max-width: 100%;
    flex-shrink: 0;
    border-radius: 12px;
}

/* Botões */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 50%;
}

.prev { left: 10px; }
.next { right: 10px; }

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.7);
}
